<html>
	<table cellspacing="20">
		<tr>
			<th> Control Point km </th>
			<th> open time </th>
			<th> close time </th>
		</tr>
		{% for item in items %}
		<tr>
			<td>control point: {{ item.km }}km</td>
			<td>{{ item.open }}</td>
			<td>{{ item.close }}</td>
		</tr>
		{% endfor %}
	</table>
	<p style="color:red"> If this page is empty you displayed before submitting go back and try again </p>
<form action='/index'>
	<input type='submit' value='back to page' />
</form>
</html>